:root {
    --primary: #2980b9;
    --primary-dark: #1c5d88;
    --primary-light: #3498db;
    --neutral-blue: #eef5f9;
    --neutral-gray-xlight: #f1f5f9;
    --neutral-gray-dark: #475569;
    --gray: #6b7280;
    --container: 1200px;
}

.back-end-page * {
    box-sizing: border-box;
}

.back-end-page h1, .back-end-page h2, .back-end-page h3 {
    margin: 0;
}

.back-end-page a {
    text-decoration: none;
    color: inherit;
}

.back-end-page .text-sm {
    font-size: 0.9rem;
}

.technology-list-container {
    padding: 4rem 0;
    background-color: var(--neutral-blue);
}
.between-section-down, .between-section-up {
    height: 50px;
}